### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/src/pack_jv
.kotlin
.idea/libraries/iText_Core_9_7_1_only_jars.xml
projetinho-java-2periodo.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store